.report {
  float: left;
  width: 100%;
  background: rgb(253, 251, 250);
  border-radius: 8px;
  border: 2px outset #d8d3d0;
  margin: 0 0 0.25em 0;
  background-image: linear-gradient(to right, rgb(255, 243, 233), rgb(253, 242, 242));
}

.text {
  margin: 0.5em;
  padding: 0;
  word-wrap: break-word;
}

.emphasis {
  font-weight: 600;
  color: #a56349;
}

.date {
  float: left;
  margin: 0.25em;
  padding: 0;
  word-wrap: break-word;
  color: #b8b5a5;
}

.separator {
  margin: 0;
  border: none;
  height: 1px;
  color: #d0e0df;
  background-color: #d0e0df;
  box-shadow: 1px 1px 3px rgb(180, 180, 180);
}

/* Button like things */

.link {
  float: right;
  margin: 0.25em;
  color: rgb(255, 255, 255);
  display: inline-block;
  border-radius: 0.4em;
  background-color: #77a4ad;
  border: none;
  text-align: center;
  font-size: 1em;
  padding: 0.2em;
  width: 9.5em;
  cursor: pointer;
}
.link:hover {
  color:#ffffff;
  background-color: #009aa5;
  transition: 0.1s;
}
.link span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
.link span:after {
  content: '\25B8';
  position: absolute;
  opacity: 0;
  right: -1em;
  transition: 0.2s;
}
.link:hover span {
  padding-right: 1em;
}
.link:hover span:after {
  opacity: 1;
  right: 0;
}


/* Fancy buttons */
.button {
  float: right;
  display: inline-block;
  margin: 0.25em;
  border-radius: 0.4em;
  background-color: #76ac8c;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  padding: 0.2em;
  width: 9.5em;
  cursor: pointer;
}
.button:hover {
  background-color: #2ebe6f;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
.button span:after {
  content: '\2714';
  position: absolute;
  opacity: 0;
  right: -1em;
  top: -0.2em;
  transition: 0.2s;
}
.button:hover span {
  padding-right: 1.5em;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}