.container {
  background: rgb(255, 203, 118);
  display: flex;
  align-content: flex-start;
}

.report {
  float: left;
  width: 100%;
  background: rgb(255, 251, 245);
  border-radius: 8px;
  border: 1px solid #CCCCCC;
  cursor: pointer;
  margin: 0.25em;
  box-shadow: 1px 1px 3px gray;
}

.report:hover {
  background: rgb(255,255,255);
  background: linear-gradient(225deg, rgb(255, 247, 234) 0%, rgb(255, 218, 207) 75%);
}

.pic {
  width: 3em;
  border-radius: 64px;
  box-shadow: 1px 1px 6px gray;
  margin-bottom: 0.5em;
}

.text {
  margin: 0.5em;
  padding: 0;
  word-wrap: break-word;
}

.emphasis {
  font-weight: 600;
  color: rgb(73, 56, 28);
}

.date {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}