.user {
  float: left;
  width: 100%;
  background: rgb(251, 253, 253);
  border-radius: 8px;
  border: 1px solid #CCCCCC;
  margin: 0 0 0.5em 0;
  background-image: linear-gradient(to right, rgb(236, 249, 253), rgb(255, 255, 255));
}

.pic {
  width: 4em;
  border-radius: 64px;
  box-shadow: 1px 1px 6px gray;
  margin: 0.1em;
  float: left;
}

.text {
  float: left;
  word-wrap: break-word;
}

.emphasis {
  font-weight: 600;
  color: #a56349;
}

.date {
  float: left;
  margin: 0.25em;
  padding: 0;
  word-wrap: break-word;
  color: #b8b5a5;
}

.link {
  float: right;
  margin: 0.25em;
  color: #dba66e;
}
.link:hover {
  color:#ee8e67;
  font-weight: 600;
}

.separator {
  margin: 0;
  border: none;
  height: 1px;
  color: #d0e0df;
  background-color: #d0e0df;
  box-shadow: 1px 1px 3px rgb(180, 180, 180);
}

.table{
  width: 100%;
}
.tabletext {
  padding: 0.25em;
}
.tableCheckbox {
  float: right;
}