.user {
  float: left;
  width: 100%;
  background: rgb(251, 253, 253);
  border-radius: 8px;
  border: 1px solid #CCCCCC;
  margin: 0 0 0.5em 0;
  background-image: linear-gradient(to right, rgb(236, 249, 253), rgb(255, 255, 255));
}

.pic {
  width: 4em;
  border-radius: 64px;
  box-shadow: 1px 1px 6px gray;
  margin: 0.1em;
  float: left;
}

.text {
  float: left;
  word-wrap: break-word;
}

.emphasis {
  font-weight: 600;
  color: #a56349;
}

.date {
  float: left;
  margin: 0.25em;
  padding: 0;
  word-wrap: break-word;
  color: #b8b5a5;
}

.link {
  float: right;
  margin: 0.25em;
  color: #dba66e;
}
.link:hover {
  color:#ee8e67;
  font-weight: 600;
}

.separator {
  margin: 0;
  border: none;
  height: 1px;
  color: #d0e0df;
  background-color: #d0e0df;
  box-shadow: 1px 1px 3px rgb(180, 180, 180);
}

.table{
  width: 100%;
}
.tabletext {
  padding: 0.25em;
}
.tableCheckbox {
  float: right;
}

/* Fancy buttons */
.button {
  display: inline-block;
  border-radius: 0.4em;
  background-color: #ff8661;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  padding: 0.2em;
  width: 10em;
  transition: all 0.5s;
  cursor: pointer;
}
.button:hover {
  background-color: #ff4800;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
.button span:after {
  content: '\26A0';
  position: absolute;
  opacity: 0;
  right: -1em;
  top: -0.2em;
  transition: 0.2s;
}
.button:hover span {
  padding-right: 1.5em;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}