.container {
  position: absolute;
  bottom: 0;
  display: flex;
  height: 5vh;
  min-height: 2em;
  width: 100%;
  background: rgb(238,142,103);
  background: linear-gradient(90deg, rgba(238,142,103,1) 0%, rgba(236,137,76,1) 70%);
  box-shadow: 0 4px 3px -3px gray;
  align-items: center;
  user-select: none;
  z-index: 99;
}

.container a {
  margin-left: 3em;
  font-size: 1em;
  font-weight: bold;
  font-variant: small-caps;
}
.container a:hover {
  filter: drop-shadow(0px 0px 3px rgb(255, 211, 129));
}
.container b {
  margin-left: 3em; 
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
}
.container b:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 3px rgb(255, 211, 129));
}