.container {
  display: flex;
  background: #FFFFFF;
  border-radius: 16px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em 0;
  box-shadow: 0 0 4px gray;
  color: #616161;
}
.container:hover {
  transition: 0.1s;
  box-shadow: 0 0 8px rgb(89, 99, 104);
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
}

.user {
  text-align: center;
  cursor: pointer;
  margin: 0 1em;
}

.pic {
  width: 6em;
  border-radius: 128px;
  box-shadow: 1px 1px 6px gray;
  margin-bottom: 0.5em;
}

.username {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

.interact {
  display: flex;
  justify-content: space-evenly;
}

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: default;
}

.scoreText {
  font-size: 1.5em;
  font-weight: bold;
  color: #9b9b9b;
  margin: 0;
}

.uparrow {
  color: #939d9e;
  height: 2em;
  cursor: pointer;
}
.uparrow:hover {
  color: #82cbd3;
  filter: drop-shadow(0 0 3px rgb(41, 165, 155));
}

.downarrow {
  color: #939d9e;
  height: 2em;
  cursor: pointer;
}
.downarrow:hover {
  color: #e7b282;
  filter: drop-shadow(0 0 3px rgb(185, 102, 46));
}

.share {
  margin: auto 0;
  color: #67c8ee;
  cursor: pointer;
}

.share:hover {
  color: #5ae5fd;
  filter: drop-shadow(0 0 4px rgb(63, 136, 132));
}


.right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: inline-block;
  margin: 0;
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  cursor: pointer;
}

.date {
  color: #b3b3b3;
  min-width: 6em;
  text-align: right;
  font-size: 0.85em;
  font-weight: bold;
  margin: 0 1em 0 0;
  user-select: none;
}

.bodyContainer {
  background: #FFFFFF;
  border-radius: 0.5em;
  padding: 0.8em 1em 1em 1em;
  margin: 1em 1em 0 0;
  border: 1px solid #e4e4e4;
  max-height: 10em;
  overflow: hidden;
}

.body {
  min-height: 5.5em;
  font-family: PTSerif;
  text-align: left;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.readMore {
  border: 1px solid #67c8ee;
  color: #48a8af;
  padding: 0.5em 1em;
  margin: 1em 1em 0 0;
  float: right;
  border-radius: 0.5em;
  box-shadow: 0 0 6px gray;
  font-weight: bold;
  user-select: none;
}
.readMore:hover {
  background: rgb(255,255,255);
  background: linear-gradient(225deg, rgba(255,255,255,1) 0%, rgb(227, 255, 252) 75%);
  filter: drop-shadow(0 0 4px rgb(160, 207, 203));
}
.toast.info {
  width: 100%;
}