.container {
    width: calc(128px + 2em);
    background: #FFFFFF;
    border-radius: 16px;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    margin: 1em;
  }

  .user {
    text-align: center;
    cursor: pointer;
    margin: 1em 1em;
  }

  .pic {
    width: 128px;
    border-radius: 128px;
    box-shadow: 1px 1px 6px gray;
    margin-bottom: 0.5em;
  }

  .username {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
  }

  .date {
      position: relative;
      float: right;
      top: -10em;
  }

  .interact {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5em;
  }

  .score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: default;
  }
  
  .scoreText {
    font-size: 1.5em;
    font-weight: bold;
    color: #ee8e67;
    margin: 0;
  }
  
  .arrow {
    color: #ee8e67;
    height: 2em;
    cursor: pointer;
  }
  
  .arrow:hover {
    filter: drop-shadow(0 0 4px rgb(167, 238, 232));
  }
  
  .share {
    margin: auto 0;
    color: #ee8e67;
    cursor: pointer;
  }
  
  .share:hover {
    filter: drop-shadow(0 0 4px rgb(167, 238, 232));
  }

  .commentSection {
    border-top: 1px solid #CCCCCC;
  }

  .addComment {
    font-weight: 600;
    font-size: smaller;
    float: right;
    cursor: pointer;
  }